{% extends 'Admin_View_Base_Layout.html' %}
{% load static from staticfiles %}
{% block content %}
      <div class="container">
        <form action="{% url 'send_email' %}" method="POST">
          {% csrf_token %}
            <h6>email:</h6>
            <input type="Text" value="{{ a_request.S_email }}" name="email" >
            <h6>Subject:</h6>
            <input type="text" name="subject" value="">
            <h6>Body:</h6>
            <input type="text" name="body" value="">
            <br>
            <input type="submit" name="" id="" class="btn grey" value="Send">
        </form>
        <br>
      </div>
{% endblock %}
