{% extends 'Admin_View_Base_Layout.html' %}
{% load static from staticfiles %}
{% block content %}
        <div class="container">
            <h3 class="center">Welcome</h3>
            <div class ="row">
                <a href="{% url 'add_student' %}">
                  <div class="col s12 l4">
                    <div class="card white hoverable">
                      <div class="card-image">
                        <img src="{% static 'Admin/studentplus.jpg' %}" alt="">
                        <a href="" class="halfway-fab btn-floating blue pulse ">
                            <i class="material-icons ">person_add</i>
                        </a>
                      </div>
                        <div class="card-content">
                          <p class="center">
                                <h5 class="black-text">Add Student</h5>
                          </p>
                        </div>
                  </div>
                  </div>
                </a>

                <a href="{% url 'add_teacher' %}">
                  <div class="col s12 l4">
                    <div class="card white hoverable">
                      <div class="card-image">
                        <img src="{% static 'Admin/teacherplus.jpg' %}" alt="">
                        <a href="" class="halfway-fab btn-floating blue darken-1 pulse ">
                            <i class="material-icons ">person_add</i>
                        </a>
                      </div>
                        <div class="card-content">
                          <p class="center">
                                <h5 class="black-text">Add Teacher</h5>
                          </p>
                        </div>
                  </div>
                  </div>
                </a>

                <a href="{% url 'view_profiles'  %}">
                  <div class="col s12 l4">
                    <div class="card white hoverable">
                      <div class="card-image">
                        <img src="{% static 'Admin/profiles.png' %}" alt="">
                        <a href="" class="halfway-fab btn-floating blue darken-1 pulse ">
                            <i class="material-icons ">format_align_center</i>
                        </a>
                      </div>
                        <div class="card-content">
                          <p class="center">
                                <h5 class="black-text">View profiles</h5>
                          </p>
                        </div>
                  </div>
                  </div>
                </a>

                <a href="">
                  <div class="col s12 l4">
                    <div class="card white hoverable">
                      <div class="card-image">
                        <img src="{% static 'Admin/results.jpg' %}" alt="">
                        <a href="" class="halfway-fab btn-floating blue darken-1 pulse ">
                            <i class="material-icons ">format_align_center</i>
                        </a>
                      </div>
                        <div class="card-content">
                          <p class="center">
                                <h5 class="black-text"> Final Grades</h5>
                          </p>
                        </div>
                  </div>
                  </div>
                </a>
            </div>     
        </div>
{% endblock %}
